@use 'variables' as *;

main {
  & .primary_section {
      color: white;
      background-color: #1C1C1C;
  }

  & .secondary_section {
      background-color: #0282F9;
      color: white;
      font-size: .75rem;
      text-transform: uppercase;
      & img {
          color: white;
          width: 4rem;
          padding: 0 .5rem;
      }
  }

  & .primary_section {
    background-color: #0282f983;
    
    & img {
        aspect-ratio: 1;
    }
}
}
